#infoPost {
    width: 100%;
    text-align: center;
}

#contactForm {
    width: 50%;
    min-width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(215, 215, 215);
    border-radius: 2vh;
    border: 0.4vh solid rgb(138, 138, 138);
    padding-left: 2vh;
    padding-right: 2vh;
    margin-top: 10vh;
}

#contactForm table {
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
    max-width: 90%;

}


input {
    width: 80%;
    max-width: 40vw;
    font-size: 2.8vh;
}

textarea {
    width: 100%;
    min-width: 150px;
    font-size: 2.5vh;
}

input[type=submit] {
    width: 50%;
    min-width: 200px;
    border-radius: 10vh;
    background-color: rgb(98, 244, 72);
    font-size: 3.5vh;
    padding: 0.5vh;
    border: 0.3vh solid rgb(138, 138, 138);
    
}

input[type=submit]:hover {
    background-color: rgb(186, 255, 173);
}