body {
    background-color: black;
    overflow-x: hidden;
}

.section {
    margin-right: -2vh;
    margin-left: auto;
    width: 53%;
    min-width: 400px;
    margin-top: -2vh;
    background-color: #1c319c;
    border-radius: 2vh;
    text-align: center;
    font-size: 4vh;
    color: white;
    padding: 0.1vh 1.5vh 0.1vh 0.5vh;
}