

.floatMain {
    position: relative;
    display: flex;
    min-height: 50vh;
    width: 95%;
    margin: 15vh auto 0 auto;
    transition: all 1s ease;
    opacity: 0;
    transform: translateY(10vh);
    
    
}

.floatMain.active {
    opacity: 1;
    transform: translateY(0);
}

.floatLeftImg {
    min-width: 25%;
    max-width: 25vw;
    height: auto;
    border-radius: 2vh;
    margin-right: 5vh;
    overflow: hidden;
}

.floatRightImg {
    min-width: 25%;
    max-width: 25vw;
    height: auto;
    
    background-color: red;
    border-radius: 2vh;
    margin-left: 5vh;
    overflow: hidden;
}

.floatTextDiv {
    background-color: #cbfed9;
    border-radius: 2vh;
    font-size: 3.4vh;
    padding-bottom: 3vh;
}

.floatTextDiv div {
    margin-left: 5%;
}

.floatText {
    margin: 5vh;
    font-weight: bold;
}


@media (max-width: 1024px) {
    .floatLeftImg, .floatRightImg {
        width: 40vw;
        min-width: 40vw;
        height: 40vw;
        float: left;
        margin-right: 2%;
        margin-left: -5vh;
        margin-top: 5.5vh;
    }

}
